@import "../../../assets/scss/variables.scss";

.title__container {
  padding-bottom: 2px;
  border-bottom: 2px solid;
  width: 100%;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: bold;

  &--primary {
    border-color: $white;
    color: $white;
  }

  &--secundary {
    border-color: $black;
    color: $black;
  }
}
